- @finders.each do |finder|
  - if finder.order
    = link_to finder.question, edit_finder_order_path(finder,@order)
  - else
    = link_to finder.question, new_finder_order_path(finder)
//- @questions.each do |question|
//  = link_to question.prompt, edit_q_path
